# Example config for MDB lists
# Each line: <username>/<list>
# Example:
# johndoe/top-movies
# janedoe/comedy-collection

garycrawfordgc/netflix-movies,Netflix Movies
garycrawfordgc/top-movies-of-the-week,Weekly Top Movies
hdlists/latest-hd-action-movies-from-1980-to-today,Action Movies